{% extends 'base.html' %}

{% block content %}

<div class="container">
<h2>Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}<br>
    <!--next:{{ next }}<br>-->
    <!--site:{{ site }}<br>-->
    <!--site_name:{{ site_name }}-->
    <p>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="submit" class="btn btn-primary" value="Login">
    </p>
    <p><a href="{% url 'password_reset' %}"> Forgot Passsword?</a> </p>
</form>
</div>
{% endblock %}